# 01 - Data Exploration

This notebook contains the initial exploration of the retail transaction dataset.

**Note**: This notebook is designed to run on Google Colab.

## Objectives
- Load and examine the dataset structure
- Understand data types and missing values
- Perform initial statistical analysis
- Identify data quality issues
- Visualize basic distributions

## Setup for Colab
1. Upload the dataset to Colab or mount Google Drive
2. Install required packages
3. Import necessary libraries

In [ ]:
# # Mount Google Drive (if using Drive to store data)
# from google.colab import drive
# drive.mount('/content/drive')

# # Alternatively, upload files directly in Colab
# # Go to Files -> Upload to upload the dataset

:

In [4]:
# Load dataset
# Option 1: If uploaded directly to Colab
import pandas as pd
import os

# Set the project root directory (adjust if needed)
project_root = os.path.abspath(os.path.join(os.getcwd(), '..', '..'))
data_path = os.path.join(project_root, 'data', 'raw', 'Online Retail.csv')

# Alternative: Use absolute path directly
# data_path = '/Users/monurajj/Desktop/Projects/Retail-Stock-Market-Behavior-Analysis/data/raw/Online Retail.csv'

df = pd.read_csv(data_path, encoding='latin-1')

# Display basic information
print("Dataset Shape:", df.shape)
print("\nColumn Names:", df.columns.tolist())
print("\nData Types:")
print(df.dtypes)
print("\nFirst Few Rows:")
df.head()

Dataset Shape: (541909, 8)

Column Names: ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

Data Types:
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

First Few Rows:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26:00,3.39,17850.0,United Kingdom